.banner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 100px 0px;

    &__image{
      width: 115vw;
        position: absolute;
        transform: rotate(0deg); 
        animation:spin 7s linear infinite;

        @include breakpoint($tablet) {
          width: 160vw;
        }
        @include breakpoint($mobile-m) {
          width: 300vw;
        }
    }

    &__content {
        z-index: 0;

        p, h1 {
            text-shadow:-3px 3px #292974;  
            color: $primary-white-font-color;
        }
        
        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 22.4px;
        }

        h1 {
            font-size: 35px;
            line-height: 60px;
            font-weight: 700;
        }
    }
}


@keyframes spin { 
    100% { 
        transform: rotate(-360deg); 
    } 
}