.Banner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    width: 100%;
    position: relative;
    overflow: hidden;

    &__image{
        width: 200%;
        position: absolute;
        transform: rotate(0deg); 
        animation:spin 7s linear infinite;
    }
}


@keyframes spin { 
    100% { 
        transform: rotate(-360deg); 
    } 
}