.header {
    position:fixed;
    z-index: 1;
    top: 0px;
    background-color: $primary-white-background-color;
    border-bottom: 2px solid $primary-black-border;
    width: 100%;
    margin-top: -1px;

    display: flex;
    justify-content: space-between;
    height: 80px;


    &__logo {
        max-width: 180px;
        padding: 0px 10px 0px 30px;

        @include breakpoint($laptop) {
          padding: 0px 20px;
          max-width: 120px;
        }

        @include breakpoint($tablet) {
          padding: 0px 20px;
          max-width: 50px;
        }

        @include breakpoint($mobile-s) {
          padding: 0px 10px;
        }
        
    }
}
