
.navbar {
    display: flex;
    gap: 60px;

    a {
        font-family: 'League Spartan', sans-serif;
        line-height: 18px;
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .navbar-link-highlight {
            position: relative;
            color: $primary-purple-color;
            font-weight: bold;
    
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__secondary {
        justify-content: center;
        align-items: center;
        padding-right: 50px;
        padding-left: 50px;
        display: flex;
        gap: 50px;
        background-color: $primary-black-background-color;

        a {
            color: $primary-white-font-color;
            font-weight: 500;
            font-size: 16px;
        }
    }
}