body {
    margin: 0;
}

#__next { 
    min-height: calc(100vh); 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}

p, a, span, i, h1 {
    text-decoration: none;
    color: $primary-black-font-color;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.content {
    margin-top: 93px;
}