// Primary
$primary-purple-color: #8435F2;
$primary-blue-color: #237EE8;

$primary-black-border: #000000;

$primary-black-font-color: #000000;
$primary-white-font-color: #FBFBFB;

$primary-black-background-color: #050505;
$primary-white-background-color: #FFFFFF;

// Backgrounds 
$colors: (
    purple: #8435F2,
    gray: #FBFBFB, 
    transparent: transparent
);

$max-number-of-grid-columns: 4;

// Breakpoints

$mobile-m: 'mobile-m';
$mobile-l: 'mobile-l';
$tablet:  'tablet';
$laptop: 'laptop';
$laptop-l: 'laptop-l';
$navbar-icons-breakpoint: "navbar-icons-breakpoint";

$breakpoints: (
    $mobile-m: ( max-width:  375px  ),
    $mobile-l: ( max-width:  425px  ),
    $navbar-icons-breakpoint: ( max-width:  580px  ),
    $tablet:   ( max-width:  768px  ),
    $laptop:   ( max-width:  1024px ),
    $laptop-l: ( max-width:  1440px ),
) !default;


